<div id="container">
  <div style="font-size: 15px">
    {{#link-to "index" }}Home{{/link-to}}
    {{#link-to "emberobject" }}Ember object demo{{/link-to}}
    {{#link-to "speakers" }}Speakers{{/link-to}}
    {{#link-to "firebase" }}Firebase{{/link-to}}
    {{#link-to "simpleModel" }}Simple Model{{/link-to}}
    {{#link-to "simpleModel" }}Simple Model{{/link-to}}
    {{#link-to "helpers" }}Helpers{{/link-to}}
  </div>
  <br>
  <br>
  {{outlet}}
</div>


Config

<p>Firebase:{{useFirebase}}</p>
<p>foo-feature-flag:{{foo-feature-flag}}</p>