<div id="container">
  <div style="font-size: 15px">
    {{#link-to "index" }}Home{{/link-to}} |
    {{#link-to "emberobject" }}Ember object demo{{/link-to}} |
    {{#link-to "speakers" }}Speakers{{/link-to}} |
    {{#link-to "firebase" }}Firebase{{/link-to}} |
    {{#link-to "simpleModel" }}Simple Model{{/link-to}} |
    {{#link-to "helpers" }}Helpers{{/link-to}} |
    {{#link-to "mixins" }}Mixins{{/link-to}} |
    {{#link-to "lifecycle" }}Lifecycle{{/link-to}} |
    {{#link-to "config" }}Config{{/link-to}} |
    {{#link-to "config" }}Config{{/link-to}} |
    {{#link-to "test-interactions" }}Test interactions{{/link-to}}
    {{#link-to "typescript" }}TypeScript{{/link-to}}
  </div>
  <br>
  <br>
  {{outlet}}
</div>


