<div id="container">

  {{#link-to "index" }}Home{{/link-to}}

  {{#link-to "emberobject" }}Ember object demo{{/link-to}}
  {{#link-to "speakers" }}Speakers{{/link-to}}
  {{#link-to "firebase" }}Firebase{{/link-to}}

  <br>
  <br>
  {{outlet}}
</div>