{{ember-object}}
<p>this is the ember-object route with an ember-object component</p>

{{#link-to "emberobject.nested" }}nested route{{/link-to}}

<div style="background-color: darkturquoise;border: 1px solid cadetblue">
  <h2>Outlet for nested routes within this parent route</h2>
{{outlet}}
</div>