
<h2>Helper examples</h2>
<table>
  <tr>
    <th>Helper function</th>
    <td>Input</td>
    <td>Output</td>
  </tr>
  <tr>
    <td>`${params} ${params}`;</td>
    <td>test</td>
    <td>{{test-helper 'test'}}</td>
  </tr>
  <tr>
    <td>`${params} ${params}`;</td>
    <td>test</td>
    <td>{{multiply-two-nums 2 4}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
