<div>
  <p>appName: {{input type="text" value=appName}}</p>
  <p>Triggers: didUpdateAttrs, didReceiveAttrs, willUpdate, willRender, didUpdate, didRender</p>
</div>

<div>
  <p>data.a.firstObject.a: {{input type="text" value=data.a.firstObject.a}}</p>
  <p>Triggers: willUpdate, willRender, didUpdate, didRender</p>
</div>

<div>
  <p>data.a.b: {{input type="text" value=data.b}}</p>
  <p>Triggers: willUpdate, willRender, didUpdate, didRender</p>
</div>

<hr>

{{lifecycle-demo name=appName data=data}}