<h2>Speaker route</h2>
<div>
  <p> {{model.company}} </p>
  <p> {{model.name}} {{model.age}} <img style="height: 30px" src="{{model.avatar}}"> </p>
  {{#link-to "speakers" }} <button>Back to Speakers List</button>{{/link-to}}
</div>
